.vacation__list {
  display: flex;
  gap: 40px 20px;
  flex-wrap: wrap;
}  

.vacation__item {
  display: flex;
  align-items: end;
  width: 380px;
  height: 228px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  padding: 34px 40px;
  margin-bottom: -70px;
  transition-duration: 0.2s;
}

.vacation__item:hover {
  transform: scale(1.1);
}

.vacation__item--bg-image1 {
  background: url("../img/bg-image1.jpg") no-repeat;
}

.vacation__item--bg-image2 {
  background: url("../img/bg-image2.jpg") no-repeat;
  padding-bottom: 6px;
  margin-top: 70px;
}

.vacation__item--bg-image3 {
  background: url("../img/bg-image3.jpg") no-repeat;
}

.vacation__item--bg-image4 {
  background: url("../img/bg-image4.jpg") no-repeat;
}

.vacation__item--bg-image5 {
  background: url("../img/bg-image5.jpg") no-repeat;
  padding-bottom: 6px;
  margin-top: 70px;
}

.vacation__item--bg-image6 {
  background: url("../img/bg-image6.jpg") no-repeat;
}