:root {
  --main-color-FFFFFF: #FFFFFF;
  --main-color-1B1A1B: #1B1A1B;
  --main-color-000000: #000000;
  --main-color-CD06FF: #CD06FF;
  --main-color-6C0287: #6C0287;
  --main-color-640AA3: #640AA3;
  --main-color-EADEED: #EADEED;
}

.present {
  --present-color-840AA3: #840AA3;
}

.form {
  --form-color-440F51: #440F51;
  --form-color-211E1E: #211E1E;
}

.question {
  --question-color-440F51: #440F51;
  --question-color-1C1A1A: #1C1A1A;
}